<h1>
  <%= @trip.name %>
</h1>

<ul>
  <h4>
    <% @trails.each do |trail| %>
      <li>
        <%= trail.name %>
        <%= trail.address %>
        <%= trail.length %>
      </li>
    <% end %>
  </h4>
</ul>