<h1>
  <%= @trail.name %>
</h1>

<h5>
  Address: <%= @trail.address%>
</h5>
<h5>
  Length: <%= @trail.length%>
</h5>

<h5>
</h5>

<h5>
  Total number of trips that include this trail: <%= @trail.total_number_of_trips %>
</h5>